/* checkbox, radio */

.formza-checkbox,
.formza-radio
{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    z-index: 1;
}

.formza-checkbox__el,
.formza-radio__el
{
    position: absolute;
    width: 200px;
    height: 200px;
    opacity: 0;
}

.formza-checkbox__inner,
.formza-radio__inner
{
    position: relative;
    display: block;
    width: 1em;
    height: 1em;
    border: 1px rgba(0,0,0,.4) solid;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0,0,0,.3) inset;
    background: rgba(110,110,110,.1);
    z-index: -1;
}

.formza-radio__inner
{
    border-radius: 50%;
}

.formza-checkbox:hover .formza-checkbox__inner,
.formza-radio:hover .formza-radio__inner
{
    border-color: rgba(0,0,0,.6);
}

.formza-checkbox__el:checked + .formza-checkbox__inner::after
{
    content: 'L';
    position: absolute;
    left: 0.53em;
    top: 0.2em;
    font: bold 71%/1 verdana;
    color: black;
    -webkit-transform: rotate(45deg) scaleX(-0.8) scaleY(1.5);
    -moz-transform: rotate(45deg) scaleX(-0.8) scaleY(1.5);
    -ms-transform: rotate(45deg) scaleX(-0.8) scaleY(1.5);
    transform: rotate(45deg) scaleX(-0.8) scaleY(1.5);
    text-shadow: 0 0 .2em rgba(0,0,0,.4);
}

.formza-radio__el:checked + .formza-radio__inner::after
{
    content: '';
    position: absolute;
    top: .2em;
    left: .2em;
    width: .6em;
    height: .6em;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0,0,0,.4);
    background: rgba(0,0,0,.8);
    transform: translateZ(0);
}

.formza-checkbox__el:focus + .formza-checkbox__inner,
.formza-radio__el:focus + .formza-radio__inner
{
    box-shadow: 0 0 5px rgba(0,0,0,.1) inset;
}

.formza-checkbox__el:disabled + .formza-checkbox__inner,
.formza-radio__el:disabled + .formza-radio__inner
{
    opacity: 0.6;
}

/* /checkbox, radio */

/* select */

.formza-select
{
    display: inline-block;
    vertical-align: middle;
    z-index: 1;
}

.formza-select::after
{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 18px;
    background: blue;
    z-index: -1;
}

.formza-select__inner
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 2px;
    background: silver;
    z-index: -1;
}

.formza-select__inner::after
{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.formza-select__el
{
    padding: 1px;
    opacity: 0;
    font: inherit;
}

/* /select */

/* file */
.formza-file
{
    position: relative;
    display: inline-block;
    min-width: 120px;
    vertical-align: middle;
    overflow: hidden;
    z-index: 1;
}

.formza-file__el
{
    left: 0;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 100px;
    opacity: 0;
}

.formza-file__inner
{
    padding: 5px;
    overflow: hidden;
    background: silver;
    z-index: -1;
}

.formza-file__button
{
    position: absolute; 
    top: 0px;
    right: 0px;
    padding: 0px 15px;

    border-radius: 2px;

    color: #548dd0;

    background: #ff0;
    z-index: -1;
}

.formza-file__button::after
{
    content: '';
    position: absolute;
    left: -9px;
    width: 10px;
    top: 0;
    bottom: 0;

    background: -webkit-linear-gradient(left,  rgba(247,247,247,0) 0%,rgba(247,247,247,1) 100%);
    background: -moz-linear-gradient(left,  rgba(247,247,247,0) 0%, rgba(247,247,247,1) 100%);
    background: linear-gradient(to right,  rgba(247,247,247,0) 0%,rgba(247,247,247,1) 100%);
}

/* /file */